html {
  box-sizing: border-box;
  background-color: lightblue;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  font-family: Arial, sans-serif;
}
.container {
  width: 280px;
  margin: 0 auto;
  @media screen and (min-width: 768px) {
    width: 610px;
  }
  @media screen and (min-width: 1280px) {
    width: 1060px;
  }
}

.background-image {
  background-image: url("https://pixabay.com/get/54e6d0414f55ad14f6da8c7dda79367b1639daed50536c48702672d39148c15cb0_1280.jpg");
  position: relative;
  width: 100%;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}