html {
  box-sizing: border-box;
  background-color: lightblue;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  font-family: Arial, sans-serif;
}
.container {
  width: 280px;
  margin: 0 auto;
  @media screen and (min-width: 768px) {
    width: 610px;
  }
  @media screen and (min-width: 1280px) {
    width: 1060px;
  }
}