$primary-white-color: #ffffff;
$primary-orange-color: #ff6b08;
$secondory-dark-color: #18191d;
$first-gray-color: #b9b9b9;
$secondory-accent-color: #858585;
$background-color: #111517;
$tecst-color: #434647;
$background-two-color: #f1f1f1;
$text-color: #747778;
