$primary-orange-color: #ff6b08;
$background-color: #102136;
$primary-white-color: #ffffff;
$background-two-color: hsla(0, 0%, 100%, 0.2);
$text-color: hsla(0, 0%, 100%, 0.541);

$secondory-dark-color: #18191d;
$first-gray-color: #b9b9b9;
$secondory-accent-color: #858585;
$tecst-color: #434647;

$title-set-time: 12px;
$title-text-size: 14px;

$title-text-two: 22px;
$title-text-three: 21px;
$title-text-tive: 25px;
$title-text-four: 37px;
$title-text: 46px;
$two-title-text: 42px;
$subtitle-text-size: 48px;
$first-title-text-size: 11px;
$secondary-title-text-size: 15px;
$second-title-text-size: 16px;
$second-title-text-two: 17px;
$first-text-size: 14px;
$first-text-size-two: 30px;
$firset-text-size: 13px;
$average-text-size: 18px;
$three-title-text-size: 26px;
$three-title-text: 27px;

$line-height-standart: 1.2;

$line-height-two: 1.3;
$line-height-title: 1.5;
$line-height-big: 2;
$line-height-title-big: 1.8;
