.date {
    display: flex;
    margin:  auto;
    margin-bottom:  25px;
    width: 280px;
    height: 190px;
    border-radius: 35px;
    background-color: rgba(16,33,54,.6);
    @extend %box-shadow;
    flex-direction: column;
    align-items: center;
    &__day {
        color: #f7f7f7;
        font-weight: 300;
        font-size: 45px;
        line-height: 56px;
        margin-top: 32px;
        margin-bottom: 0;
        &--month {
            display: flex;
            margin-top: 14px;
            justify-content: center;
            font-size: 14px;
            line-height: 22px;
        }
    }
    & span {
        text-align: center;
        display: block;
        color: #fff;
        width: 84px;
    }
    &__sun {
        display: flex;
        font-size: 14px;
        line-height: 22px;
        &__sun span {
            width: 56px;
        }
    }
}

.date__day--month, .date__sun {
    font-size: 14px;
    line-height: 22px;
}

.time, .sunset__icon {
    position: relative;
}

.sunrise, .sunset {
    display: flex;
    justify-content: space-around;
}
.sunrise__icon, .sunset__icon {
    height: 30px;
    width: 30px;
    margin-top: 10px;
}
.sunrise__time, .sunset__time {
    margin-top: 22px;
}
img {
    max-width: 100%;
    height: auto;
}

.time:before, .sunset__icon:before {
    content: "";
    background-color: #e7e8eb;
    opacity: .4;
    position: absolute;
    width: 1px;
    height: 20px;
    left: 0;
}
@media(min-width: 768px) {
    .date {
        width: 490px;
        height: 278px;
        margin: 0 auto 25px;
        &__day {
            font-size: 90px;
            line-height: 108px;
            margin-top: 44px;
            &--month {
                margin: 0;
            }           
        }
        & span {
            width: 94px;
        }
        &__sun {
            margin-top: 20px;
            & span {
                width: 72px;
            }
        }
    }    
    .date__day--month, .date__sun {
        font-size: 18px;
    }   
}
@media (min-width: 1280px) {
    .date {
        height: 218px;
        width: 600px;
        border-radius: 0;
        border-top-right-radius: 35px;
        position: absolute;
        bottom: 0;
        left: 0;
        margin-bottom: 0;
        &__day {
            align-self: start;
            margin-left: 110px;
        }
        &__container {
            margin-left: 40px;
            display: flex;
            width: 430px;
            justify-content: space-between;
            & div {
                margin: 0;
            }
        }
    }  
    .sunrise__icon, .sunset__icon {
    margin-top: -10px;
    } 
    .sunrise__time, .sunset__time {
    margin-top: 0;
}
}
