// .gallery-visually {
//     background-color: #102136;
//     border-radius: 25px;
//   }
  .hourly-weather-wrapper {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 18px;
  }
  .hourly-weather-close {
    display: inline-block;
    align-items: center;
    width: 24px;
    height: 18px;
    border-radius: 20px;
    border: none;
    color: #fff;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: 50%;
    background-color: hsla(0, 0%, 100%, 0.2);
    top: 8px;
    right: 10px;
    outline: none;
    margin-right: 15px;
  }
  
  .hourly-weather-list {
    display: flex;
    justify-content: left;
    margin: 0px;
    padding-bottom: 18px;
    padding-left: 15px;
    overflow: hidden;
  }
  .hourly-weather-btns {
    //   display: flex;
    //   justify-items: center;
    //   align-items: center;
    width: 100%;
    border-radius: 25px;
  }
  .hourly-weather-next-btn {
    display: none;
  }
  
  .hourly-weather-item {
    text-decoration: none;
    list-style: none;
    padding: 15px;
    font-size: 16px;
    font-family: Lato;
    color: hsla(0, 0%, 100%, 0.541);
    text-align: center;
    border: 1px solid hsla(0, 0%, 100%, 0.2);
    border-radius: 25px;
    min-width: 120px;
    margin-right: 12px;
    &:hover {
      background-color: hsla(0, 0%, 100%, 0.2);
    }
    &:last-child {
      margin-right: 0px;
    }
  
    &__set-temperature {
      color: #ff6b08;
      font-weight: 700;
      pointer-events: none;
    }
  }
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    .container {
      max-width: 608px;
      margin: 0 auto;
    }
    .hourly-weather-list {
      padding-left: 33px;
    }
    .hourly-weather-next-btn {
      display: inline-block;
      margin-right: 45px;
      border-radius: 50%;
      border: none;
      width: 27px;
      height: 27px;
      cursor: pointer;
      background-repeat: no-repeat;
      background-position: 50%;
      background-color: hsla(0, 0%, 100%, 0.2);
      outline: none;
      margin-bottom: 25px;
    }
    .hourly-weather-next-btn-wrapper {
      display: flex;
      justify-content: flex-end;
    }
    .hourly-weather-item__set-temperature {
      font-size: 18px;
    }
  }
  @media screen and (min-width: 1280px) {
    .container {
      max-width: 1060px;
      margin: 0 auto;
    }
    .hourly-weather-list {
      display: flex;
      justify-content: center;
    }
    .hourly-weather-item__set-temperature {
      font-size: 25px;
    }
  }
  @media screen and (max-width: 767px) {
    .container {
      max-width: 320px;
      padding: 0 20px;
      margin: 0 auto;
    }
  }
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    .container {
      max-width: 608px;
      margin: 0 auto;
    }
  }
  
  @media screen and (min-width: 1280px) {
    .container {
      max-width: 1060px;
      margin: 0 auto;
    }
  }